{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}

{% block content %}

<style>
#hero {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #428bca;
}

#hero .btn-get-started:hover {
  background: #1c5c93;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
</style>

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('/static/core/img/index.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>YoTrabajo</span></h2>
                <p class="animate__animated animate__fadeInUp">El portal para encontrar a personal capacitado a tus necesidades. <br>Regístrate aquí</p>
                <a href="{% url 'signup' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Regístrate</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('/static/core/img/index1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Contacta con trabajadores capacitados</h2>
                <p class="animate__animated animate__fadeInUp">Contacta con trabajadores capacitados a tus necesidades. <br>Regístrate aquí</p>
                <a href="{% url 'signup' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Regístrate</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('/static/core/img/index2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Se parte de YoTrabajo</h2>
                <p class="animate__animated animate__fadeInUp">Se parte de nuestro equipo de trabajo, contacta con nuestros supervisores mandando un correo a yotrabajo@yotrabajo.com con una gran oportunidad de publicidad personal</p>
                
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>

<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class=" col-lg-10 mx-auto">
          <div class="bg-faded rounded p-4">
            <h2 class="section-heading mb-10">
            <br>
              <span class="section-heading-lower text-center">Nuestra historia</span>
            </h2>
            <p>Somos una empresa desarrolladora de software fundada en 2019, con experiencia en el desarrollo de aplicaciones web
               con el principal propósito de ayudar a las personas que se ven más afectadas económicamente por el desempleo, promoviendo
               los servicios de estas personas a través de esta plataforma</p>
               
            <h3>Misión</h3>
            <p>Ser una empresa innovadora y con gran sentido de responsabilidad social que busca el máximo beneficio de nuestros clientes a través de la calidad de nuestras soluciones, productos 
            y servicios, manteniendo las mejores condiciones de trabajo para nuestros colaboradores y una alta rentabilidad para nuestros accionistas.</p>

            <h3>Visión</h3>
            <p>Ser un aliado estratégico para nuestros clientes basados en soluciones y servicios innovadores sobre la base de nuestra responsabilidad, calidad, productividad y compromiso.</p> 
          
          <br><br>

<style>
  .team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
  transition: color 0.3s;
  color: #111;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #1bbd36;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #b4aca8;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #847872;
}

.team .member:hover .social {
  opacity: 1;
}
  </style>

    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title text-center" data-aos="fade-up">
          <h3>Equipo de trabajo</h3>
        </div><br><br>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="/static/core/img/Sebastian.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Ing. Sebastián Fonseca Flores</h4>
                <span>Programador</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/static/core/img/Jair.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Ing. Jair Ramón Huerta Salinas</h4>
                <span>Programador</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/static/core/img/Gerardo.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Ing. Gerardo Pérez Meléndez</h4>
                <span>Diseñador</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/static/core/img/Luis.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Ing. Luis Fernando Vázquez Rivera</h4>
                <span>Documentador</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

{% endblock %}