{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}

<br><br><link href="{% static 'core/css/login.css' %}" rel="stylesheet">
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="/static/registration/img/logo_negro.png" class="logo py-4"> </div>
                    <div class="row justify-content-center mt-4 mb-3 border-line"> <img src="/static/registration/img/login.png" class="image px-4 py-1"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Siguenos en</h6>
                        <div class="facebook text-center mr-3">
                            <a href="http://facebook.com" target="_blank"><div class="fa fa-facebook"></div></a>
                        </div>
                        <div class="twitter text-center mr-3">
                            <a href="http://github.com" target="_blank"><div class="fa fa-github"></div></a>
                        </div>
                        <div class="linkedin text-center mr-3">
                            <a href="http://linkedin.com" target="_blank"><div class="fa fa-linkedin"></div></a>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    {% if 'register' in request.GET %}
                      <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
                    {% endif %}
                    <form action="" method="post">{% csrf_token %}
                    <div class="row px-3"> <label class="mb-1">
                    {% if form.non_field_errors %}
                      <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                    {% endif %}
                            <h6 class="mb-0 text-sm">Nombre de usuario</h6>
                            </label> <input class="mb-4" type="text" autofocus maxlength="254" required name="username" id="id_username"  placeholder="Nombre de usuario">
                             </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Contraseña</h6>
                            </label> <input type="password" name="password" id="id_password" placeholder="Contraseña"> 
                            </div>
                    <div class="row px-3 mb-4">
                    <div class="row mb-3 px-3">
                      <input type="submit" class="btn btn-primary text-center" value="Acceder">
                     </div>
                     </form>
                        <a href="{% url 'password_reset' %}" class="ml-auto mb-0 text-sm">¿Olvidaste tu contraseña?</a>
                    </div>
                    
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">¿No tienes cuenta? <a href="{% url 'signup' %}" class="text-danger">Registrate aquí</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-primary text-white py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020 · NeoKingdom (Desarrollo de software) </small>
                <div class="social-contact ml-4 ml-sm-auto"> <a href="http://facebook.com" class="ml-auto mb-0 text-sm" target="_blank"><span class="fa fa-facebook mr-4 text-sm"></span></a> <a href="http://linkedin.com" class="ml-auto mb-0 text-sm" target="_blank"><span class="fa fa-linkedin mr-4 text-sm"></span></a> <a href="http://github.com" class="ml-auto mb-0 text-sm" target="_blank"><span class="fa fa-github mr-4 mr-sm-5 text-sm"></span></a> </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}